.text-bold {
  font-weight: bold;
}
html {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.02rem;
  line-height: 26px;
  font-size: 16px;
  color: #666;
}
body.clean {
  background-color: #f7f7f7;
}
h1,
h2,
h3,
h4, h1 a {
  font-family: 'Open Sans' !important;
  font-style: normal;
  font-weight: bold;
  font-size: 28pt;
  color: #444;
  margin-bottom: 40px;
    text-align: center;
}

a:hover {
    text-decoration: none;
}

.featureicon {
  font-size: 40pt;
}
.text-muted {
  color: silver;
}
h2 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: left;
}
h3 {
  font-size: 20pt;
}
h4 {
  font-size: 16pt;
}
p {
  margin-bottom: 30px;
}
.btn-success {
  background-color: #f48564;
  border: 0;
}
.btn-success:focus,
.btn-success:hover {
  background-color: #d86f50;
  border: 0;
}
input:-webkit-autofill {
  background-color: #FFF !important;
  background-image: none !important;
  color: #000000 !important;
}
.gray {
  background-color: #f7f7f7;
}
.btn-xl {
  padding: 25px 39px;
  font-size: 28px;
  white-space: normal;
}
.panel {
  padding: 30px;
    margin-bottom: 80px;
}
.panel p {
    text-align: left;
}

.publishline {
    text-align: center;
    color: silver;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.panel img {
    max-width: 100%;
}

img.banner {
    text-align: center;
    margin: auto;
    display: block;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    h1, h1 a {
        font-size: 22px;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 15px;
    }

    h2 {
        font-size: 16px;
    }

    div.panel {
        padding: 5px;
    }
}