.text-bold {
  font-weight: bold;
}
#plans h2 {
  margin-bottom: 40px;
}
#plans .plan {
  background-color: #f7f7f7;
  padding: 20px;
}
#plans .plan p {
  height: 60px;
}
#plans h3 {
  font-size: 22px;
  margin: 0 0 20px 0;
  font-weight: bold;
}
#plans h4 {
  font-size: 18px;
  margin-bottom: 30px;
}
#plans h4 span {
  font-size: 12px;
}
#plans td {
  padding: 8px !important;
}
#plans .glyphicon-ok,
#confirmation .glyphicon-ok {
  color: limegreen;
}
#plans .glyphicon-remove,
#confirmation .glyphicon-remove {
  color: red;
}
html {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.01rem;
  line-height: 26px;
  font-size: 14px;
  color: #666;
}
body.clean {
  background-color: #f7f7f7;
}
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans' !important;
  font-style: normal;
  font-weight: 300;
  font-size: 30pt;
  color: #333;
}
.featureicon {
  font-size: 40pt;
}
.text-muted {
  color: silver;
}
h1 {
  font-size: 30pt;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 60px;
}
h2 {
  font-size: 24pt;
  margin-bottom: 20px;
}
h3 {
  font-size: 20pt;
}
h4 {
  font-size: 16pt;
}
p {
  margin-bottom: 30px;
}
.btn-success {
  background-color: #f48564;
  border: 0;
}
.btn-success:focus,
.btn-success:hover {
  background-color: #d86f50;
  border: 0;
}
.navbar {
  background-color: white;
  margin-bottom: 0;
}
.navbar a {
  color: #333;
}
.perspective {
  text-align: right;
}
.perspective img {
  padding-top: 50px;
}
.navbar-nav > li.active a {
  background-color: #eee;
}
.navbar-nav > li a {
  padding: 30px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}
.navbar-brand {
  padding: 30px;
}
.navbar-form {
  padding: 15px 10px;
  float: left;
}
.navbar-toggle .icon-bar {
  background-color: black;
}
#logo {
  position: absolute;
  width: 120px;
}
.jumbotron {
  color: white;
  background: url('/Content/images/jumbotron.jpg');
  background-size: cover;
}
.jumbotron .btn-success {
  border: 2px solid transparent;
  color: white;
}
.jumbotron .btn-success:hover {
  background-color: transparent;
  border: 2px solid white;
}
.jumbotron p {
  font-size: 19px;
}
.jumbotron h1 {
  font-size: 54px;
}
input:-webkit-autofill {
  background-color: #FFF !important;
  background-image: none !important;
  color: #000000 !important;
}
.gray {
  background-color: #f7f7f7;
}
.btn-xl {
  padding: 25px 39px;
  font-size: 28px;
  white-space: normal;
}
#footer {
  background-color: #e6e6e6;
  padding: 30px 0;
}
#footer .madein {
  text-align: center;
}
#footer .copyright {
  text-align: right;
}
#reviews {
  margin-bottom: 20px;
}
#reviews .review {
  padding: 30px 0;
}
#reviews .review img {
  border-radius: 30px;
  margin-bottom: 20px;
}
#reviews .review strong {
  display: block;
  margin-bottom: 10px;
}
.panel {
  padding: 30px;
}
.panel h2 {
  margin: 0 0 40px 0;
}
.alert > ul {
  list-style-position: inside;
  padding: 0;
}
@media (max-width: 768px) {
  #logo {
    width: 51px;
  }
  .navbar-form {
    float: none;
  }
  .navbar-nav > li {
    margin: 10px;
  }
  .navbar-nav > li a {
    padding: 12px;
  }
  .alert > ul {
    list-style-position: inside;
  }
  .jumbotron {
    padding: 20px;
    text-align: center;
  }
  .jumbotron h1 {
    font-size: 24pt;
    font-weight: bold;
    margin-top: 10px;
  }
  .jumbotron .btn {
    margin-top: 20px;
  }
  .perspective {
    display: none;
  }
  #footer {
    text-align: center;
  }
  #footer .madein {
    text-align: center;
  }
  #footer .copyright {
    text-align: center;
  }
  h1 {
    font-size: 22pt;
  }
  h2 {
    font-size: 20pt;
  }
  h3 {
    font-size: 17pt;
  }
  .featureicon {
    font-size: 20pt;
  }
  .feature {
    margin-bottom: 100px;
  }
  .feature h2 {
    font-size: 20px;
  }
  .panel {
    padding: 10px;
  }
}
.btn {
  white-space: normal;
}
.white .container,
.gray .container {
  padding: 30px;
}
.feature-box img {
  padding: 10px;
  background-color: white;
  border: 3px solid #e6e6e6;
  width: 500px;
  max-width: 50%;
  float: left;
  margin-right: 15px;
}
.feature-box h3 {
  padding-bottom: 10px;
}
.feature-box p {
  margin-bottom: 10px;
}
.feature-box ul {
  padding-left: 0;
  list-style-position: inside;
}
.feature-box.feature-right img {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
@media (max-width: 768px) {
  .gray .container,
  .white .container {
    padding: 60px 20px;
  }
  .feature-box h3 {
    display: inline;
    font-size: 18px;
    color: #f48564;
  }
}
#payment #card1,
#payment #card2,
#payment #card3 {
  margin-bottom: 10px;
}
#payment #form {
  max-width: 350px;
  margin: auto;
}
#payment .card {
  margin-top: 10px;
}
#payment button {
  margin-top: 20px;
}
#confirmation ul {
  list-style-type: none;
  padding: 0;
}
#confirmation .select-all-text {
  height: 32px;
  display: inline-block;
}
/*# sourceMappingURL=landingpage.css.map */