---
layout : layout
title : Jonas Hovgaard - Professional C# developer
description: Personal blog for professional web developer Jonas Hovgaard (jhovgaard)
---

{% for post in paginator.posts %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="publishline">
            <abbr class="published" title="{{ post.date | date: " %e %b, %y" }}">PUBLISHED {{ post.date | date: "%e %B, %Y"  }}</abbr>
            
        </div>

        <h1><a href="{{post.url}}" class="entry-title">{{post.title}}</a></h1>

        {{ post.content }}
        
        <div class="text-center">
            <a href="http://blog.servant.io{{post.url}}#disqus_thread" class="btn btn-primary btn-lg">COMMENTS <span class="commentcount"></span></a>
        </div>
    </div>
</div>
{% endfor %}


<div class="paginator">
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a class="previous" href="/"><img src="/img/previous.png" alt="Previous" /></a>
    {% else %}
    <a class="previous" href="/page{{ paginator.previous_page }}/"><img src="/img/previous.png" alt="Previous" /></a>
    {% endif %}
    {% endif %}


    {% if paginator.next_page %}
    <a class="next" href="/page{{ paginator.next_page }}/"><img src="/img/next.png" alt="Next" /></a>
    {% endif %}
</div>
<div class="clear"></div>
