﻿<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" value="{{ page.description }}"/>
    <title>{{page.title}}</title>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.min.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css?v=3" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/styles/github.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400|Montserrat:400,700" />
</head>
<body class="clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-push-1 col-md-12 text-center">
                <a href="/">
                    <img src="/img/servant_logo.gif" style="margin-bottom: 20px; margin-top: 20px;" />
                </a>
                <p>The Offical <a href="https://www.servant.io">Servant.io</a> Blog</p>
            </div>    
        
            <div class="col-lg-10 col-lg-push-1 col-md-12">
                {{ content }}
            </div>
        </div>
    </div>
</body>
</html>